body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
/*scroll do site */
::-webkit-scrollbar {
    width: 10px;
    background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background-color: orange;
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    background-color: rgb(31, 31, 31);
}
::-webkit-scrollbar-thumb:horizontal {
    background-color: #474747;
}
a{
    margin: 0;
    padding: 0;
}

h1{
    margin-right: 550px;
}
header {
    background: #000;
    color: white;
    padding: 10px 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    width: 100px;
    height: 100px;
}
main {
    height: 100vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.imagens{
    width: 100%;
    height: 300px;
}
#event-list {
    width: 80%;
    display: grid;
    display: flex;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.event {
    width: 80%;
    align-items: center;
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.event:hover {
    transform: scale(1.02);
}

button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    transition: 0.5s;
}

button:hover {
    background-color: #000;
    box-shadow: 0px 0px 5px orange;
    transform: scale(1.10);
}

footer{
    background-color: #000000;
    color: white;
    text-align: center;
    box-shadow: 0px 0px 1px #ffffff;
}
.contatos{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin: 10px;
}
i{
    font-size: 20px;
}
.contatos i:hover{
    color: orange;
}
#contato-h1{
    color: orange;
    font-size: 30px;
    margin-left: 550px;
}
.footer-p{
    font-size: 15px;
    padding-right: 20px;
    padding-left: 5px;
}

/* Responsividade */
@media (max-width: 768px) {
    #event-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    #event-list {
        grid-template-columns: 1fr;
    }
}